* {
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

.hero {
  height: 90vh;
  position: relative;
}

.hero video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.hero_text {
  position: absolute;
  top: calc(40%);
  left: calc(30%);
  background: rgba(155, 154, 154, 0.286);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  color: white;

  text-align: center;
  padding: 2rem;
  width: 30%;
}

@media screen and (max-width: 500px) {
  .hero {
    height: 50vh;
  }

  .hero_text {
    width: 70%;
    left: 2rem;
    margin: auto;
  }
}

/* .down {
  font-size: 5rem;
  color: orangered;
  position: absolute;
  left: 45%;
  bottom: 5rem;
  transform: rotate(90deg);
  animation: down 0.5s infinite;
}

@keyframes down {
  0% {
    left: 45%;
    bottom: 5rem;
  }

  100% {
    left: 45%;
    bottom: 1rem;
  }
} */

nav {
  position: sticky;
  top: 0;
  z-index: 1;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #6e4f3f;
  color: white;
  height: 3rem;
  padding: 1rem;
}

.logo p {
  font-size: xx-large;
  letter-spacing: 0.3rem;
  font-weight: bold;
}

@media screen and (max-width: 500px) {
  .logo p {
    font-size: 1.2rem;
    font-weight: bolder;
  }
}

.menu ul {
  display: flex;
  list-style-type: none;
}

.menu ul li {
  padding: 0.5rem;
}

.menu ul li:hover {
  font-size: x-large;
  cursor: pointer;
  transition: all 0.1s;
}

.info {
  padding: 2rem;
}

.info p {
  margin-top: 1rem;
  font-size: 1.1rem;
  word-spacing: 0.1rem;
}

[class^="parallax_image"] {
  height: 60vh;
}

@media screen and (max-width: 500px) {
  [class^="parallax_image"] {
    height: 45vh;
  }

  .parallax_text {
    display: none;
  }
}

.parallax {
  position: relative;
}

.parallax_text {
  position: absolute;
  top: 50%;
  left: 40%;
  background: rgba(148, 147, 147, 0.408);
  color: white;
  padding: 2rem 3rem;
  font-size: x-large;
  letter-spacing: 1rem;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 2px 30px whitesmoke;
}

.parallax_image1 {
  background: url(./assets/adi-goldstein-xKS-1DP4g7A-unsplash.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.parallax_image2 {
  background: url(./assets/gaurang-alat-EVvL-QUu9wE-unsplash.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.parallax_image3 {
  background: url(./assets/joy-hayman-36EMSp9sAtQ-unsplash.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.parallax_image4 {
  background: url(./assets/ptmp-bzfcLMegiz0-unsplash.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.parallax_image5 {
  background: url(./assets/shayna-douglas-ad38qCSnjVc-unsplash.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

@media screen and (max-width: 500px) {
  .parallax_image1,
  .parallax_image2,
  .parallax_image3,
  .parallax_image4,
  .parallax_image5 {
    background-size: contain;
    height: 20vh;
    background-repeat: space;
  }

  .parallax_image1 {
    background-repeat: round;
  }
}

footer p {
  padding: 2rem;
  background: #6e4f3f;
  color: white;
  text-align: center;
}
